/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

section{width:100%; float:left;}
.banner-section{background-image:url("/images/Forum.png"); background-size:cover; height: 380px; left: 0; position: absolute; top: 0; background-position:0;}
.post-title-block{padding:85px 0;}
.post-title-block h1 {color: #286090; font-size: 85px; font-weight: bold; text-transform: capitalize;}
.post-title-block li{font-size:20px; font-weight: bold; color: black;}
.image-block{float:left; width:100%; margin-bottom:10px;}


.login-link-text{
    text-decoration: none!important;
    color: #9d9d9d!important;
    font-size: 18px!important;
}

.login-link-text:hover{
    color: white!important;
}
.login-button-wrapper{
    margin-top: 15px;
}



.jumbotron{
    background-image: url(/images/Forum.png);
}
/*.accounts-dialog{*/
    /*margin-top: 25px;*/
/*}*/
/*.grid-divider {*/
    /*position: relative;*/
    /*padding: 0;*/
/*}*/
/*.grid-divider>[class*='col-'] {*/
    /*position: static;*/
/*}*/
/*.grid-divider>[class*='col-']:nth-child(n+2):before {*/
    /*content: "";*/
    /*border-left: 1px solid #DDD;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
/*}*/
/*.col-padding {*/
    /*padding: 0 15px;*/
/*}*/

.flex-row {
    display: flex;
    flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.flex-row .thumbnail,
.flex-row .caption {
    flex-direction: column;
    display: flex;
    flex: 1 0 auto;
    height: auto;
    position: relative;
}
.flex-text {
    flex-grow: 1;
}
.flex-row img {
    min-width: 0;
    width: 100%;
}
.room-card-toolbar{
    color: #286090;
    position: absolute;
    right: 9px;
}

.room-card-toolbar span{
    cursor: pointer;
}

.room-card .author
{
    font-size: 11px;
    color: #737373;
    position: absolute;
}

.room-card-title{
    margin-top: 40px;
}






#custom-search-input {
    background: #e8e6e7 none repeat scroll 0 0;
    margin: 0;
    padding: 10px;
}
#custom-search-input .search-query {
    background: #fff none repeat scroll 0 0 !important;
    border-radius: 4px;
    height: 33px;
    margin-bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
}
#custom-search-input button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #666666;
    left: auto;
    margin-bottom: 0;
    margin-top: 7px;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    z-index: 9999;
}
.search-query:focus + button {
    z-index: 3;
}
.all_conversation .topics-header {
    background: #f5f3f3 none repeat scroll 0 0;
    border: 1px solid #dddddd;
    height: 38px;
    text-align: left;
    width: 100%;
    padding: 0 5px;
}
.topics-header .btn{
    margin-top: 7px;
}
.all_conversation i {
    background: #e9e7e8 none repeat scroll 0 0;
    border-radius: 100px;
    color: #636363;
    font-size: 17px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    margin-top: 2px;
}
.all_conversation .caret {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 15px;
    top: 0;
}
.all_conversation .dropdown-menu {
    background: #f5f3f3 none repeat scroll 0 0;
    border-radius: 0;
    margin-top: 0;
    padding: 0;
    width: 100%;
}
.all_conversation ul li {
    border-bottom: 1px solid #dddddd;
    line-height: normal;
    width: 100%;
}
.all_conversation ul li a:hover {
    background: #dddddd none repeat scroll 0 0;
    color:#333;
}
.all_conversation ul li a {
    color: #333;
    line-height: 30px;
    padding: 3px 20px;
}
.member_list .chat-body {
    margin-left: 47px;
    margin-top: 0;
}
.top_nav {
    overflow: visible;
}
.member_list .contact_sec {
    margin-top: 3px;
}
.member_list li {
    padding: 6px;
}
.member_list ul {
    border: 1px solid #dddddd;
}
.chat-img img {
    height: 34px;
    width: 34px;
}
.member_list li {
    border-bottom: 1px solid #dddddd;
    padding: 6px;
}
.member_list li:last-child {
    border-bottom:none;
}
.member_list {
    height: 380px;
    overflow-x: hidden;
    overflow-y: auto;
}
.sub_menu_ {
    background: #e8e6e7 none repeat scroll 0 0;
    left: 100%;
    max-width: 233px;
    position: absolute;
    width: 100%;
}
.sub_menu_ {
    background: #f5f3f3 none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: none;
    left: 100%;
    margin-left: 0;
    max-width: 233px;
    position: absolute;
    top: 0;
    width: 100%;
}
.all_conversation ul li:hover .sub_menu_ {
    display: block;
}
.new_message_head button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.new_message_head {
    background: #f5f3f3 none repeat scroll 0 0;
    float: left;
    font-size: 13px;
    font-weight: 600;
    padding: 18px 10px;
    width: 100%;
}
.message_section {
    border: 1px solid #dddddd;
}
.chat_area {
    float: left;
    height: calc(100vh - 350px);
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    min-height: 300px;
}
.chat_area li {
    padding: 14px 14px 0;
}
.chat_area li .chat-img1 img {
    height: 40px;
    width: 40px;
}
.chat_area .chat-body1 {
    margin-left: 55px;
}
.chat-body1 p {
    background: #fbf9fa none repeat scroll 0 0;
    padding: 10px;
    margin: 0;
}
.chat_area .admin_chat .chat-body1 {
    margin-left: 0;
    margin-right: 50px;
}
.chat_area li:last-child {
    padding-bottom: 10px;
}
.message_write {
    background: #f5f3f3 none repeat scroll 0 0;
    float: left;
    padding: 15px;
    width: 100%;
}

.message_write textarea.form-control {
    height: 70px;
    padding: 10px;
}
.chat_bottom {
    float: left;
    margin-top: 13px;
    width: 100%;
}
.upload_btn {
    color: #777777;
}
.sub_menu_ > li a, .sub_menu_ > li {
    float: left;
    width:100%;
}
.member_list li:hover, .member_list li.active {
    background: #428bca none repeat scroll 0 0;
    color: #fff;
    cursor:pointer;
}
.chat_time{
    font-size: 11px;
    color: #737373;
    margin-bottom: 5px;
}
.message .chat-img1, .message .chat_time{
    float: left;
}

.message.is-sender .chat-img1, .message.is-sender .chat_time{
    float: right;
}

.message.is-sender .chat-body1{
    margin: 0 55px 0 0;
}
.message-sender-name{
    padding: 0!important;
    margin: 0!important;
    background-color: #fff!important;
    font-weight: bold;
}
.message.is-sender .message-sender-name, .message.is-sender .message-text{
    text-align: right;

}
.no-messages{
    text-align: center;
}
.please-login{
    color: #666;
    text-align: center;
}