<template name="List_messages">
    <div class="col-sm-9 message_section">
        <div class="row">
            <div class="new_message_head">
                <div class="pull-left"><button><i class="fa fa-plus-square-o" aria-hidden="true"></i>Messages</button></div>
            </div>
            <!--new_message_head-->

            <div class="chat_area">
                <ul class="list-unstyled">
                    {{#each messages}}
                        <li class="left clearfix message {{#if isSender}}is-sender{{/if}}">
                                        <span class="chat-img1">
                                            <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                                        </span>
                            <div class="chat-body1 clearfix">
                                <p class="message-sender-name">{{sender}}</p>
                                <p class="message-text">{{text}}</p>
                                <div class="chat_time" title="{{timeCreatedAt}}">{{timeFromNow}}</div>
                            </div>
                        </li>
                    {{else}}
                        <h3 class="text-muted no-messages">There is not messages yet, but you might be the firs</h3>
                    {{/each}}
                </ul>
            </div>

            <!--chat_area-->
            <div class="message_write">
                <textarea class="form-control" id="text-message-input" placeholder="type a message"></textarea>
            </div>
        </div>
    </div>
</template>