<template name="List_messages">
    {{#if topicIsSelected}}
    <div class="col-sm-9 message_section">
        <div class="row">
            <div class="new_message_head">
                <div class="pull-left">Messages</div>
            </div>
            <!--new_message_head-->

            <div class="chat_area">
                <ul class="list-unstyled">
                    {{#each messages}}
                        {{> List_messages_message}}
                    {{else}}
                        <h3 class="text-muted no-messages">There is not messages yet, but you might be the firs</h3>
                    {{/each}}
                </ul>
            </div>

            <!--chat_area-->
            <div class="message_write">
                <textarea class="form-control" id="text-message-input" placeholder="type a message"></textarea>
            </div>
        </div>
    </div>
    {{/if}}
</template>