<template name="List_topics">
    <!--chat_sidebar-->
    <div class="col-sm-3 chat_sidebar">
        <div class="row">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="  search-query form-control" placeholder="Topics" />
                    <button class="btn btn-danger" type="button">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
            <div class="dropdown all_conversation">
                <div class="topics-header">
                    <i class="fa fa-weixin" aria-hidden="true"></i>
                    Choose topic
                    {{#if isOwner}}
                    <a class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#modal-topic-create" href="#">
                        <span class="glyphicon btn-glyphicon glyphicon-plus"></span>
                        Create new
                    </a>
                    {{/if}}
                </div>
            </div>
            <div class="member_list">
                <ul class="list-unstyled">
                    {{#each topics}}
                    <li class="left clearfix">
                        <div class="chat-body clearfix">
                            <div class="header_sec">
                                <strong class="primary-font">{{title}}</strong>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    {{> Modal_room_create collection=CollectionTopics formid='formTopicInsert' modal='modal-topic-create' title='Create Topic'}}
    <!--chat_sidebar-->
</template>