<template name="Modal_room_create">
    <!-- Modal -->
    <div class="modal fade" id="{{modal}}" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> {{title}} </h4>
                </div>
                <div class="modal-body">
                    {{> quickForm collection=collection id=formid type="insert"}}
                </div>
            </div>

        </div>
    </div>
</template>